<div class="vc_empty_space" style="height: 50px"><span class="vc_empty_space_inner"></span></div>

<div class="container">
    <div class="container-fluid">
      <div class="row m-auto" *ngIf="history?.carts?.length">
        <h1 class="h1 text-center my-5" style="color: #EBA850">Lịch Sử Mua Hàng</h1>
        <div class="col-lg-12 table-responsive d-lg-grid">
          <table style="text-align: center" class="table text-secondary ">
            <thead  style="background-color: #EBA850;font-size: 15px;color: white;border-radius: 10px">
            <tr>
              <th>STT</th>
              <th>Tên Khách Hàng</th>
              <th>Ngày Mua</th>
              <th>Giờ Mua</th>
              <th>Số Điện Thoại</th>
              <th>Địa Chỉ</th>
              <th>Tổng Tiền</th>
              <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let item of history.carts; index as i">
              <td class="align-middle">{{i + 1}}</td>
              <td class="align-middle">{{history.name}}</td>
              <td class="align-middle">{{item.createDate | date: 'dd/MM/yyyy'}}</td>
              <td class="align-middle">{{item.createTime}}</td>
              <td class="align-middle">{{history.phone}}</td>
              <td class="align-middle">{{history.address}}</td>
              <td class="align-middle">{{getTotalPrice(item) | currency: ' ': ' ': '5.0'}} ₫</td>
              <td>
                <button style="border: solid #EBA850"   type="button" (click)="showDetail(item)"
                        data-bs-toggle="modal" data-bs-target="#listModal" class="btn btn-outline-success" >Chi tiết
                </button>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div *ngIf="history?.carts?.length == 0">
        <div class="container">
          <div class="row">
            <div class="py-6 py-lg-12">
              <div class="container">
                <div class="row " style="text-align: center">
                    <h3>Chưa có lịch sử giao dịch
                      <a routerLink="" style="color: #EBA850">click về trang chủ</a>
                      để mua hàng</h3>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

</div>

<div data-bs-backdrop="static" data-bs-keyboard="false" class="modal fade" id="listModal" tabindex="-1"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header" style="background-color: #EBA850; height: 50px">
              <span class="modal-title text-light" id="myModalLabel"
                    style="font-size: 18px">Thông Tin Chi Tiết</span>
        <button type="button"  style="border: solid #EBA850" class="btn btn-outline-success text-white" data-bs-dismiss="modal">
      Đóng
        </button>
      </div>
      <div class="modal-body">
        <table class="table">
          <thead style="font-weight: 300">
          <tr>
            <th>STT</th>
            <th>Tiêu Đề</th>
            <th>Giá</th>
            <th>Số Lượng</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let item of cart.cartDetails; index as i">
            <td>{{i + 1}}</td>
            <td>{{item.book.bookName}}</td>
            <td>{{item.book.price| currency: ' ': ' ': '5.0'}} ₫</td>
            <td>{{item.quantity}}</td>
          </tr>
          <tr>
            <td colspan="3" class="text-end">Tổng Tiền</td>
            <td colspan="2"
                style="color: #F44336; font-weight: bold">{{getTotalPrice(cart) | currency: ' ': ' ': '5.0'}} ₫
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
