<div class="vc_empty_space" style="height: 70px"><span class="vc_empty_space_inner"></span></div>

<div *ngIf="carts.length>0" class="card">
  <div class="row">
    <div class="col-md-8 cart">
      <div class="title">
        <div class="row">
          <div class="col"><h4 style="color: #EBA850"><b>Giỏ Hàng</b></h4></div>
          <div class="col align-self-center text-right text-muted"><h3>{{carts.length}} sản phẩm</h3></div>
        </div>
      </div>
      <div *ngFor="let cart of carts,index as i" class="row border-top border-bottom">
        <div class="row main align-items-center">
          <div class="col-2"><img class="img-fluid" src="{{cart.image}}"></div>
          <div class="col">
            <div class="row text-muted" style=" text-transform: uppercase;">{{cart.name}}</div>

          </div>
          <div class="col-3">
            <button type="submit" (click)="reduce(i,cart.quantity)">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                   class="bi bi-chevron-compact-down" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                      d="M1.553 6.776a.5.5 0 0 1 .67-.223L8 9.44l5.776-2.888a.5.5 0 1 1 .448.894l-6 3a.5.5 0 0 1-.448 0l-6-3a.5.5 0 0 1-.223-.67z"/>
              </svg>
            </button>
            <input (change)="updateQuantity(i,$event)" type="text" [value]="cart.quantity"
                   style="width: 50px;text-align: center">
            <button type="submit" (click)="up(i,cart.quantity)">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                   class="bi bi-chevron-compact-up" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                      d="M7.776 5.553a.5.5 0 0 1 .448 0l6 3a.5.5 0 1 1-.448.894L8 6.56 2.224 9.447a.5.5 0 1 1-.448-.894l6-3z"/>
              </svg>
            </button>
          </div>
          <div style="color: red" class="col"> {{subTotal(cart)|currency: ' ': ' ': '5.0'}} VNĐ</div>
          <div class="col">
            <button (click)="delete(i)" style="margin-bottom: 20px" class="btn btn-outline-danger">Xóa</button>
          </div>
        </div>
      </div>
      <div class="row d-flex">
        <div class="col-6">
          <button routerLink="" class="btn btn-outline-success">Tiếp tục mua hàng</button>
        </div>
        <div class="col-6">
          <button (click)="clearCart()" class="btn btn-outline-danger">Xóa tất cả</button>
        </div>
      </div>
    </div>
    <div style="background-color: #f1f1f1" class="col-md-4 summary">
      <div><h5 style="color: #EBA850"><b>Chi tiết</b></h5></div>
      <hr>
      <div class="row">
        <div class="col" style="padding-left:0;">Tổng Sản Phẩm: <span
          style="color: #EBA850;font-size: 20px;font-weight: 700">{{carts.length}}</span></div>
      </div>
      <div class="row">
        <div class="col" style="padding-left:0;">Tổng Số Lượng: <span
          style="color: #EBA850;font-size: 20px;font-weight: 700">{{totalQuantity}}</span></div>
      </div>

      <form>
        <p>Chọn đơn vị ship</p>
        <select class="form-control-lg">
          <option class="text-muted" selected disabled>Chọn đơn vị ship</option>
          <option class="text-muted">Giao hàng nhanh</option>
          <option class="text-muted">VN xepress</option>
          <option class="text-muted">Now</option>
        </select>
        <!--        <p>Nhập mã giảm giá</p>-->
        <!--        <input class="form-control-lg" id="code" placeholder="Nhập mã giảm giá">-->
      </form>
      <div class="row" style="border-top: 1px solid rgba(0,0,0,.1); padding: 2vh 0;">
        <div class="col">Tổng tiền:</div>
        <div class="col text-right" style="color: red">{{totalMoney|currency: ' ': ' ': '5.0'}} VNĐ</div>
      </div>
      <div class="col">
        <button (click)="payment()" class="btn btn-outline-success" data-bs-toggle="modal"
                data-bs-target="#staticBackdropt"> Thanh toán
        </button>
      </div>
    </div>
  </div>
</div>

<div style="text-align: center" *ngIf="carts.length==0">
  <h3>Giỏ hàng trống
    <a routerLink="" style="color: #EBA850">click về trang chủ</a>
    để mua hàng</h3>
</div>

<!-- Modal -->
<div class="modal fade" id="staticBackdropt" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Thanh toán</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div style="padding-top: 5px" id="paypal">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="close">Đóng</button>
      </div>
    </div>
  </div>
</div>
