<div class="vc_empty_space" style="height: 120px"><span class="vc_empty_space_inner"></span></div>

<div class="card">
  <div class="row">
    <div class="col-md-8 cart">
      <div class="title">
        <div class="row">
          <div class="col"><h4 style="color: #EBA850"><b>Giỏ Hàng</b></h4></div>
          <div class="col align-self-center text-right text-muted">3 sản phẩm</div>
        </div>
      </div>
      <div class="row border-top border-bottom">
        <div class="row main align-items-center">
          <div class="col-2"><img class="img-fluid" src="../../assets/bach-da-hanh.jpg"></div>
          <div class="col">
            <div class="row text-muted">Truyện trinh thám</div>
            <div class="row" style="color: #EBA850">Thám tử Roll</div>
          </div>
          <div class="col">
            <a style="text-decoration: none" href="#">-</a><a  href="#" class="border">2</a><a style="text-decoration: none" href="#">+</a>
          </div>
          <div class="col"> 44.000đ <span class="close">&#10005; 2</span></div>
        </div>
      </div>
      <div class="row">
        <div class="row main align-items-center">
          <div class="col-2"><img class="img-fluid" src="../../assets/ce-sau-17-nam.jpg"></div>
          <div class="col">
            <div class="row text-muted">Truyện ma</div>
            <div class="row" style="color: #EBA850">Ma sau hè</div>
          </div>
          <div class="col">
            <a style="text-decoration: none" href="#">-</a><a style="text-decoration: none"  href="#" class="border">3</a><a style="text-decoration: none" href="#">+</a>
          </div>
          <div class="col"> 44.000đ <span class="close">&#10005; 3</span></div>
        </div>
      </div>
      <div class="row border-top border-bottom">
        <div class="row main align-items-center">
          <div class="col-2"><img class="img-fluid" src="../../assets/nguoi-chet-de-da.jpg"></div>
          <div class="col">
            <div class="row text-muted">Ngôn tình</div>
            <div class="row" style="color: #EBA850">Chuyện em và tôi</div>
          </div>
          <div class="col">
            <a style="text-decoration: none" href="#">-</a><a  href="#" class="border">1</a><a style="text-decoration: none" href="#">+</a>
          </div>
          <div class="col"> 44.000đ <span class="close">&#10005; 1</span></div>
        </div>
      </div>
      <div class="back-to-shop"><a style="color: #EBA850"  href="#"><span class="text-muted">Trở về trang chủ</span> </a></div>
    </div>
    <div style="background-color: #f1f1f1" class="col-md-4 summary">
      <div><h5 style="color: #EBA850"><b>Chi tiết</b></h5></div>
      <hr>
      <div class="row">
        <div class="col" style="padding-left:0;">Sản phẩm 6</div>
        <div class="col text-right" style="color:red;"> 435.000đ</div>
      </div>
      <form>
        <p>Chọn đơn vị ship</p>
        <select class="form-control-lg" >
          <option class="text-muted" selected>Chọn đơn vị ship</option>
          <option class="text-muted" >Giao hàng nhanh</option>
          <option class="text-muted" >VN xepress</option>
          <option class="text-muted" >Now</option>
        </select>
        <p>Nhập mã giảm giá</p>
        <input class="form-control-lg" id="code" placeholder="Nhập mã giảm giá">
      </form>
      <div class="row" style="border-top: 1px solid rgba(0,0,0,.1); padding: 2vh 0;">
        <div  class="col">Tổng tiền</div>
        <div class="col text-right" style="color: red"> 435.000đ</div>
      </div>
      <h1>  <button class="btn btn-outline-success">Thanh toán</button></h1>
    </div>
  </div>

</div>
<div class="vc_empty_space" style="height: 40px"><span class="vc_empty_space_inner"></span></div>
