<div class="container">
  <!--Tìm kiếm-->
  <div class="row ">
    <form [formGroup]="searchForm" (ngSubmit)="searchBook()" novalidate>
      <div class=" d-flex">
        <div formGroupName="category" class="col-4">
          <select formControlName="categoryName" style="border: solid #EBA850" class="form-control">
            <option value=" " selected> Danh mục</option>
            <option style="color: #EBA850" *ngFor="let categoryList of categoryList"
                    value="{{categoryList.categoryName}}">{{categoryList.categoryName}}</option>
          </select>
        </div>
        <input formControlName="author" type="search" style="border: solid #EBA850" placeholder="Tên tác giả"
               class="form-control">
        <input formControlName="bookName" type="search" style="border: solid #EBA850" placeholder="Tên sách"
               class="form-control">
        <button class=" btn btn-outline-success" (keyup.enter)="searchBook()"> Tìm</button>
      </div>
    </form>
  </div>
  <!--  ket thuc tim-->

  <div class="vc_empty_space" style="height: 10px"><span class="vc_empty_space_inner"></span></div>
  <div class="row">
    <!--Nut them-->
    <div class="col-1">
      <button type="button" class=" btn btn-outline-success">
        <a routerLink="/create" href="#" style="text-decoration: none;color: #EBA850">
          Thêm </a>
      </button>
    </div>
  </div>
  <div class="vc_empty_space" style="height: 10px"><span class="vc_empty_space_inner"></span></div>

  <div class="row">
    <table style="text-align: center" class="table text-secondary ">
      <thead style="background-color: #EBA850;font-size: 15px;color: white;border-radius: 10px">
      <th>Stt</th>
      <th>Hình ảnh</th>
      <th>Tên sách</th>
      <th>Tên tác giả</th>
      <th>Thể loại</th>
      <th>Giá</th>
      <th>Sửa</th>
      <th>Xóa</th>
      </thead>
      <tbody>
      <tr *ngFor="let books of bookList;index as i">
        <td>{{i + 1 + number * pageSize}}</td>
        <td><img style="width: 50px ; height: 60px" src="{{books.image}}" alt=""></td>
        <td>{{books.bookName}}</td>
        <td>{{books.author}}</td>
        <td>{{books.category.categoryName}}</td>
        <td style="color: red">{{books.price|currency :'đ'}}</td>
        <td>
          <!--nút edit-->
          <button [routerLink]="['/edit',books.id]" type="button" class="btn btn-outline-success">
            <a>Sửa</a>
          </button>
        </td>
        <td>
          <!--nút xóa "-->
          <button type="button" class="btn btn-outline-success"
                  data-bs-toggle="modal" data-bs-target="#exampleModal"
                  (click)="openDelete(books)">
            Xóa
          </button>
        </td>
      </tr>
      </tbody>
    </table>
    <!--phan trang-->
    <div style="height: 50px;position: relative" class="container pagination-advertisement mb-3">
      <ul class="pagination justify-content-end" style="text-align: right">
        <li>
          <select class="form-select" (change)="totalElement($event)">
            <option value="6">6</option>
            <option value="12">12</option>
            <option value="18">18</option>
            <option value="full">Tất Cả</option>
          </select>
        </li>
        <li class="page-item">
            <span style="margin: 0 20px 0 20px">{{pageSize * indexPagination + 1}}
              - {{pageSize * indexPagination + numberOfElement}} trên {{totalElements}}</span>
          <button (click)="previousPage($event)" [ngStyle]="{'display':previousPageStyle}" type="button"
                  class="btn btn-outline-primary">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                 class="bi bi-chevron-left" viewBox="0 0 16 16">
              <path fill-rule="evenodd"
                    d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
            </svg>
          </button>
          <button (click)="nextPage($event)" [ngStyle]="{'display':nextPageStyle}" style="margin-left: 10px"
                  type="button"
                  class="btn btn-outline-primary">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                 class="bi bi-chevron-right" viewBox="0 0 16 16">
              <path fill-rule="evenodd"
                    d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
            </svg>
          </button>
        </li>
      </ul>
    </div>
    <!-- kết thúc phân trang-->
  </div>

</div>
<div class="vc_empty_space" style="height: 30px"><span class="vc_empty_space_inner"></span></div>

<!--modal-->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel" style="color: #EBA850">Xóa sách</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"
                aria-label="Close"></button>
      </div>
      <div class="modal-body" style="color: red">
        <H5>Bạn có muốn xóa sách: <span style="color: #EBA850;font-size: 20px;font-weight: 500">{{nameDelete}}</span>
        </H5>
        <br>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Không
        </button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="delete(idDelete)">Có</button>
      </div>
    </div>
  </div>
</div>
